:root {
    --primary-color:#2ecc71;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
/*    color blue*/
    --sidebar-blue:#082f49;
    --sidebar-logo-blue:#082f49;
    --sidebar-menu-blue:#d4dee4;
    --header-blue:#0c4a6e;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
